@charset "UTF-8";

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

header {
	padding: 32px;
}

footer {
	padding: 20px 30px;
	background-color: #160d3d;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	
}

.currents-logo {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
	display: block;
}

.nav-bar ul {
	list-style-type: none;
}

.nav-bar ul li a {
	text-decoration: none;
	color: #2F322A;
	padding: 8px;
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.hero {
	background-image: url(/images/jessie_header.jpg);
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
}

.pink {
	background-color: #cdc0d5;
}
.yellow {
	background-color: #f7eaa9;
}
.cyan {
	background-color: #00aeef;
}
.black {
	background-color: black;
}
.solid-block {
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}

h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 120px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
}


.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear:both;
}

.footer-text {
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 20px;
}
.footer-mailto {
	text-decoration: none;
	color: #FFFFFF;
	transition: color 0.3s;
}
.footer-mailto:hover {
	color: rgba(241,91,93,1);
}
.socials {
	color: #FFFFFF;
	font-size: 30px;
}
.fa-instagram {
	transition: color 0.2s;
}
.fa-instagram:hover {
	color: #8a3ab9;
}
.fa-facebook-square {
	transition: color 0.2s;
}
.fa-facebook-square:hover {
	color: #3B5998;
}
.fa-pinterest {
	transition: color 0.2s;
}
.fa-pinterest:hover {
	color: #C92228;
}
.col {
	width: 100%;
}

/* Tablet view */

@media (min-width: 768px) {
	.nav-bar ul li {
		display: inline-block;
	}
	
	.nav-bar ul {
		text-align: center;
	}
	.hero {
		background-image: url(/images/sweetnsourheader.png);
	}
	h1 {
		font-size: 40px;
		margin-bottom: 90px;
	}
	.solid-block {
		height: 250px;
	}

	.featured-artist-img {
		
	}
	.spacer {
		width: 100%;
		max-width: 100%;
		height: 332px;
		background-image: url(/images/lemonbackcover.jpg);
		background-size: cover;
		background-position: center center; 
	}

	.col-md-one-half {
		width: 50%;
	}
	.col {
		float: left;
		padding: 6px 7px 14px;
		
	}
}

/* Desktop view */

@media (min-width: 1024px) {
	.currents-logo {
		float: left;
	}
	.nav-bar {
		float: right;
	}
	
}